{% extends "layout.html" %}
{% block title %}New User{% endblock %}

{% block content %}


<style>
    .my-carousel-progress {
        background: #ccc;
    }

    .my-carousel-progress-bar {
        background: greenyellow;
        height: 2px;
        transition: width 400ms ease;
        width: 0;
    }
</style>
<div class="container mt-5">
    <h4>Fill in your profile information to start generating tailored resumes for different job descriptions.</h4>
    <form id="resumeDataForm">
        <div>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" hidden>
                <li class="nav-item">
                    <a class="nav-link active" id="step1-tab" data-toggle="pill" href="#step1" role="tab">Step 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="step2-tab" data-toggle="pill" href="#step2" role="tab">Step 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="step3-tab" data-toggle="pill" href="#step3" role="tab">Step 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="step4-tab" data-toggle="pill" href="#step4" role="tab">Step 4</a>
                </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="step1" role="tabpanel">
                    <div class="card grid">
                        <div class="card-header">
                            <strong>
                                Personal Information
                            </strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="name">Name:</label>
                                        <input type="text" class="form-control" id="name" value="{{name}}" name="name" required>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="phone_number">Phone Number:</label>
                                        <input type="text" class="form-control" id="phone_number" name="phone_number"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" class="form-control" id="email_id" name="email_id" value="{{email}}" required disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="linkedin">LinkedIn:</label>
                                        <input type="text" class="form-control" id="linkedin_link" name="linkedin_link"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="objective">Objective:</label>
                                        <textarea class="form-control" id="objective" name="objective" rows="2"
                                            required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-4" align="left">
                                    
                                </div>
                                <div class="col-4" align="center">
                                    
                                </div>
                                <div class="col-4" align="right">
                                    <div class="col-6" align="right">
                                        <button class="btn btn-primary next-step" type="button">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="step2" role="tabpanel">
                    <div class="card grid">
                        <div class="card-header">
                            <strong>Work Experience</strong>
                        </div>
                        <div class="card-body">
                            <div id="workExperienceContainer">
                                <div class="workExperienceItem card px-5 py-3" id="workExperience-0">
                                    <div class="row" style="width: 100%;">
                                        <button id="workExperience-0--button"
                                            class="mdl-button mdl-js-button mdl-button--fab closeButton"
                                            style="margin-left: 100%">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Title:</label>
                                                <input type="text" class="form-control" name="work_experience[0][title]"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Company:</label>
                                                <input type="text" class="form-control"
                                                    name="work_experience[0][company]" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>From:</label>
                                                <input type="month" class="form-control" name="work_experience[0][from]"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label>To:</label>
                                                <input type="month" name="work_experience[0][to]" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Description:</label>
                                                <textarea class="form-control" rows="5"
                                                    name="work_experience[0][description]" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-4" align="left">
                                    <div class="col-6">
                                        <button class="btn btn-primary back-step">Back</button>
                                    </div>
                                </div>
                                <div class="col-4" align="center">
                                    <button id="addWorkExperience" class="mdl-button mdl-js-button mdl-button--fab">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                                <div class="col-4" align="right">
                                    <div class="col-6" align="right">
                                        <button class="btn btn-primary next-step" type="button">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="step3" role="tabpanel">
                    <div class="card grid">
                        <div class="card-header">
                            <strong>Project Experience</strong>
                        </div>
                        <div class="card-body">
                            <div id="projectExperienceContainer">
                                <div class="projectExperienceItem card px-5 py-3" id="projectExperience-0"
                                    style="padding: 10px;">
                                    <div class="row" style="width: 100%;">
                                        <button id="projectExperience-0--button"
                                            class="mdl-button mdl-js-button mdl-button--fab closeButton"
                                            style="margin-left: 100%">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Title:</label>
                                                <input type="text" class="form-control"
                                                    name="project_experience[0][title]" required>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Technologies (comma separated):</label>
                                                <!-- <input type="text" class="form-control" required> -->
                                                <select class="tag-select form-control"
                                                    name="project_experience[0][technologies]"
                                                    multiple="multiple"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Description:</label>
                                                <textarea class="form-control" name="project_experience[0][description]"
                                                    rows="5" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-4" align="left">
                                    <div class="col-6">
                                        <button class="btn btn-primary back-step">Back</button>
                                    </div>
                                </div>
                                <div class="col-4" align="center">
                                    <button id="addProjectExperience" class="mdl-button mdl-js-button mdl-button--fab">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                                <div class="col-4" align="right">
                                    <div class="col-6" align="right">
                                        <button class="btn btn-primary next-step" type="button">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="step4" role="tabpanel">
                    <div class="card grid">
                        <div class="card-header">
                            <strong>Education</strong>
                        </div>
                        <div class="card-body">
                            <div id="educationContainer">
                                <div class="educationItem card px-5 py-3" id="education-0" style="padding: 10px;">
                                    <div class="row" style="width: 100%;">
                                        <button id="education-0--button"
                                            class="mdl-button mdl-js-button mdl-button--fab closeButton"
                                            style="margin-left: 100%">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Degree:</label>
                                                <input type="text" name="education[0][degree]" class="form-control"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Major:</label>
                                                <input type="text" name="education[0][major]" class="form-control"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>University:</label>
                                                <input type="text" name="education[0][university]" class="form-control"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>From:</label>
                                                <input type="month" name="education[0][from]" class="form-control"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label>To:</label>
                                                <input type="month" name="education[0][to]" class="form-control"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-4" align="left">
                                    <div class="col-6">
                                        <button class="btn btn-primary back-step">Back</button>
                                    </div>
                                </div>
                                <div class="col-4" align="center">
                                    <button id="addEducation" class="mdl-button mdl-js-button mdl-button--fab">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                                <div class="col-4" align="right">
                                    <div class="col-6" align="right">
                                        <button class="btn btn-primary next-step" type="button">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="step5" role="tabpanel">
                    <div class="card grid">
                        <div class="card-header">
                            <strong>
                                Technical Skills
                            </strong>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label>Languages (comma separated):</label>
                                    </div>
                                    <div class="col">
                                        <select class="tag-select form-control" name="technical_skills_languages[]"
                                            multiple="multiple"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label>Developer Tools (comma separated):</label>
                                    </div>
                                    <div class="col">
                                        <select class="tag-select form-control"
                                            name="technical_skills_developer_tools[]" multiple="multiple"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label>Technologies and Frameworks (comma separated):</label>
                                    </div>
                                    <div class="col">
                                        <select class="tag-select form-control"
                                            name="technical_skills_technologies_and_frameworks[]"
                                            multiple="multiple"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-primary back-step">Back</button>
                                </div>
                                <div class="col-6" align="right">
                                    <button class="btn btn-success" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</form>
</div>

<script>

    let workExperienceCount = 1;
    let projectExperienceCount = 1;
    let educationCount = 1;
    $(document).ready(function () {

        $('.next-step').click(function () {
            console.log("HERE")
            let currentStep = $(this).closest('.tab-pane');
            let nextStep = currentStep.next();

            if (nextStep.length) {
                currentStep.removeClass('show active');
                nextStep.addClass('show active');

                let currentTab = $(`#${currentStep.attr('id')}-tab`);
                let nextTab = $(`#${nextStep.attr('id')}-tab`);

                currentTab.removeClass('active');
                nextTab.addClass('active');
            }
        });

        $('.back-step').click(function () {
            let currentStep = $(this).closest('.tab-pane');
            let prevStep = currentStep.prev();

            if (prevStep.length) {
                currentStep.removeClass('show active');
                prevStep.addClass('show active');

                let currentTab = $(`#${currentStep.attr('id')}-tab`);
                let prevTab = $(`#${prevStep.attr('id')}-tab`);

                currentTab.removeClass('active');
                prevTab.addClass('active');
            }
        });

    });

    $("#addWorkExperience").click(function () {
        var workExperienceCount = $("#workExperienceContainer").children().length;
        let workExperienceHtml = `
            <div class="workExperienceItem card mt-3" id="workExperience-${workExperienceCount}" style="padding: 10px;">
                <div class="row" style="width: 100%;">
                    <button id="workExperience-${workExperienceCount}--button"
                    class="mdl-button mdl-js-button mdl-button--fab closeButton" style="margin-left: 100%">
                        <i class="material-icons">close</i>
                    </button>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Title:</label>
                            <input type="text" class="form-control"
                                name="work_experience[${workExperienceCount}][title]" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Company:</label>
                            <input type="text" class="form-control"
                                name="work_experience[${workExperienceCount}][company]"
                                required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>From:</label>
                            <input type="month" class="form-control"
                                name="work_experience[${workExperienceCount}][from]" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>To:</label>
                            <input type="month"
                                name="work_experience[${workExperienceCount}][to]"
                                class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Description:</label>
                            <textarea class="form-control" rows="3"
                                name="work_experience[${workExperienceCount}][description]"
                                required></textarea>
                        </div>
                    </div>
                </div>
            </div>
                `;
        $("#workExperienceContainer").append(workExperienceHtml);
        workExperienceCount += 1;
        document.querySelectorAll('.closeButton').forEach(item => {
            item.addEventListener('click', event => {
                console.log(event.currentTarget)
                // the target could be something INSIDE the button, so we need to get the parent

                const elementId = event.currentTarget.id.split('--')[0];
                console.log(elementId);
                const element = document.getElementById(elementId);
                console.log(element);
                element.remove();
            })
        })
    });



    $("#addProjectExperience").click(function () {
        var projectExperienceCount = $("#projectExperienceContainer").children().length;
        let projectExperienceHtml = `
        <div class="projectExperienceItem card mt-3" id="projectExperience-${projectExperienceCount}"
                                            style="padding: 10px;">
                                            <div class="row" style="width: 100%;">
                                                <button id="projectExperience-${projectExperienceCount}--button"
                                                    class="mdl-button mdl-js-button mdl-button--fab closeButton"
                                                    style="margin-left: 100%">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Title:</label>
                        <input type="text" class="form-control"
                            name="project_experience[${projectExperienceCount}][title]" required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Technologies (comma separated):</label>
                        <!-- <input type="text" class="form-control" required> -->
                        <select class="tag-select form-control"
                            name="project_experience[${projectExperienceCount}][technologies]"
                            multiple="multiple"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Description:</label>
                        <textarea class="form-control"
                            name="project_experience[${projectExperienceCount}][description]"
                            rows="3"
                            required></textarea>
                    </div>
                </div>
            </div>
        </div>
                `;



        $("#projectExperienceContainer").append(projectExperienceHtml);

        $('.tag-select').select2({
            tags: true,
            tokenSeparators: [',']
        });

        document.querySelectorAll('.closeButton').forEach(item => {
            item.addEventListener('click', event => {
                console.log(event.currentTarget)
                // the target could be something INSIDE the button, so we need to get the parent

                const elementId = event.currentTarget.id.split('--')[0];
                console.log(elementId);
                const element = document.getElementById(elementId);
                console.log(element);
                element.remove();
            })
        })
    });


    $("#addEducation").click(function () {
        console.log("clicked")
        var educationCount = $("#educationContainer").children().length;
        let educationHtml = `
        <div class="educationItem card mt-3" id="education-${educationCount}"
            style="padding: 10px;">
            <div class="row" style="width: 100%;">
                <button id="education-${educationCount}--button"
                    class="mdl-button mdl-js-button mdl-button--fab closeButton"
                    style="margin-left: 100%">
                    <i class="material-icons">close</i>
                </button>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Degree:</label>
                        <input type="text" name="education[${educationCount}][degree]"
                            class="form-control""
                            required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Major:</label>
                        <input type="text" name="education[${educationCount}][major]"
                            class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>University:</label>
                        <input type="text"
                            name="education[${educationCount}][university]"
                            class="form-control"
                            required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>From:</label>
                        <input type="month" name="education[${educationCount}][from]"
                            class="form-control" required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>To:</label>
                        <input type="month" name="education[${educationCount}][to]"
                            class="form-control" required>
                    </div>
                </div>
            </div>
        </div>
        `;


        $("#educationContainer").append(educationHtml);

        document.querySelectorAll('.closeButton').forEach(item => {
            item.addEventListener('click', event => {
                console.log(event.currentTarget)
                // the target could be something INSIDE the button, so we need to get the parent

                const elementId = event.currentTarget.id.split('--')[0];
                console.log(elementId);
                const element = document.getElementById(elementId);
                console.log(element);
                element.remove();
            })
        })
    })





    $(document).ready(function () {
        $('.tag-select').select2({
            tags: true,
            tokenSeparators: [','],
            width: "100%"
        });
    });



    $(document).ready(function () {
        // Capture form submission
        $('#resumeDataForm').submit(function (event) {
            console.log("HERE!!!")
            console.log(event.target)
            event.preventDefault(); // Prevent the default form submission

            // form = $('#resumeDataForm');
            // Get all the <input type="month"> elements within the form
            // const monthInputs = $('#resumeDataForm input[type="month"]');

            // // Iterate through each input and format its value
            // monthInputs.each(function() {
            //   const rawValue = $(this).val();
            //   const date = new Date(rawValue);
            //   const formattedValue = date.toLocaleString('en-US', { month: 'long', year: 'numeric' });
            //   $(this).val(formattedValue);
            // });




            // Serialize the form data into a format suitable for a POST request
            var formData = $('#resumeDataForm').serialize();

            // Send a POST request to the server
            $.ajax({
                type: 'POST',
                url: 'profile-data',
                data: formData,
                success: function (response) {
                    // Handle the server's response if needed
                    console.log('Data sent successfully:', response);
                    window.location.href = "/profile";
                },
                error: function (error) {
                    // Handle errors if any
                    console.error('Error:', error);
                }
            });
        });
    });




</script>
{% endblock %}