{% extends "layout.html" %}
{% block title %}New User{% endblock %}

{% block content %}


<style>
    .my-carousel-progress {
        background: #ccc;
    }

    .my-carousel-progress-bar {
        background: greenyellow;
        height: 2px;
        transition: width 400ms ease;
        width: 0;
    }
</style>
<div class="container mt-5">
    <h2>Enter Resume Data</h2>
    <form id="resumeDataForm">
        <div class="splide">
            <div class="my-carousel-progress">
                <div class="my-carousel-progress-bar"></div>
            </div>
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <div class="card grid" style="width: 70%; margin: auto">
                            <div class="card-body">
                                <h4 class="card-title">Personal Information</h4>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="name">Name:</label>
                                            <input type="text" class="form-control" id="name" name="name" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="phone_number">Phone Number:</label>
                                            <input type="text" class="form-control" id="phone_number" name="phone_number"
                                                required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="email">Email:</label>
                                            <input type="email" class="form-control" id="email_id" name="email_id" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="linkedin">LinkedIn:</label>
                                            <input type="text" class="form-control" id="linkedin_link" name="linkedin_link" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="objective">Objective:</label>
                                            <textarea class="form-control" id="objective" name="objective" rows="3"
                                                required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="card grid" style="width: 70%; margin: auto">
                            <div class="card-body">
                                <h4 class="card-title">Work Experience <button type="button" class="btn btn-sm btn-primary"
                                        id="addWorkExperience">Add</button></h4>
                                <div id="workExperienceContainer">
                                    <div class="workExperienceItem">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Title:</label>
                                                    <input type="text" class="form-control" name="work_experience[0][title]"
                                                        required>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Company:</label>
                                                    <input type="text" class="form-control"
                                                        name="work_experience[0][company]" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>From:</label>
                                                    <input type="month" class="form-control" name="work_experience[0][from]"
                                                        required>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>To:</label>
                                                    <input type="month" name="work_experience[0][to]" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Description:</label>
                                                    <textarea class="form-control" rows="3"
                                                        name="work_experience[0][description]" required></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="card grid" style="width: 70%; margin: auto">
                            <div class="card-body">
                                <h4 class="card-title">Project Experience <button type="button" class="btn btn-sm btn-primary"
                                        id="addProjectExperience">Add</button></h4>
                                <div id="projectExperienceContainer">
                                    <div class="projectExperienceItem">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Title:</label>
                                                    <input type="text" class="form-control"
                                                        name="project_experience[0][title]" required>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Technologies (comma separated):</label>
                                                    <!-- <input type="text" class="form-control" required> -->
                                                    <select class="tag-select form-control"
                                                        name="project_experience[0][technologies]"
                                                        multiple="multiple"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Description:</label>
                                                    <textarea class="form-control" name="project_experience[0][description]"
                                                        rows="3" required></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="card grid" style="width: 70%; margin: auto">
                            <div class="card-body">
                                <h4 class="card-title">Education <button type="button" class="btn btn-sm btn-primary"
                                        id="addEducation">Add</button></h4>
                                <div id="educationContainer">
                                    <div class="educationItem">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Degree:</label>
                                                    <input type="text" name="education[0][degree]" class="form-control"
                                                        required>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Major:</label>
                                                    <input type="text" name="education[0][major]" class="form-control"
                                                        required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>University:</label>
                                                    <input type="text" name="education[0][university]" class="form-control"
                                                        required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>From:</label>
                                                    <input type="month" name="education[0][from]" class="form-control"
                                                        required>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>To:</label>
                                                    <input type="month" name="education[0][to]" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="card grid" style="width: 70%; margin: auto">
                            <div class="card-body">
                                <h4 class="card-title">Technical Skills</h4>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <label>Languages (comma separated):</label>
                                        </div>
                                        <div class="col">
                                            <select class="tag-select form-control" name="technical_skills_languages[]"
                                                multiple="multiple"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <label>Developer Tools (comma separated):</label>
                                        </div>
                                        <div class="col">
                                            <select class="tag-select form-control"
                                                name="technical_skills_developer_tools[]" multiple="multiple"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <label>Technologies and Frameworks (comma separated):</label>
                                        </div>
                                        <div class="col">
                                            <select class="tag-select form-control"
                                                name="technical_skills_technologies_and_frameworks[]"
                                                multiple="multiple"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>

<script>

    let workExperienceCount = 1;
    let projectExperienceCount = 1;
    let educationCount = 1;
    $(document).ready(function () {
        // Function to add work experience fields
        $("#addWorkExperience").click(function () {
            let workExperienceHtml = `
                <div class="workExperienceItem">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Title:</label>
                                <input type="text" class="form-control" name="work_experience[0][title]" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Company:</label>
                                <input type="text" class="form-control" name="work_experience[0][company]" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>From:</label>
                                <input type="month" class="form-control" name="work_experience[0][from]" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>To:</label>
                                <input type="month" name="work_experience[0][to]" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Description:</label>
                                <textarea class="form-control" rows="3" name="work_experience[0][description]" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                `;
            $("#workExperienceContainer").append(workExperienceHtml);
            workExperienceCount += 1;
        });

        // Function to add project experience fields
        $("#addProjectExperience").click(function () {
            let projectExperienceHtml = `
            <div class="projectExperienceItem">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Title:</label>
                            <input type="text" class="form-control"
                                name="project_experience[0][title]" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Technologies (comma separated):</label>
                            <!-- <input type="text" class="form-control" required> -->
                            <select class="tag-select form-control"
                                name="project_experience[0][technologies]"
                                multiple="multiple"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Description:</label>
                            <textarea class="form-control" name="project_experience[0][description]"
                                rows="3" required></textarea>
                        </div>
                    </div>
                </div>
            </div>
                `;
            $("#projectExperienceContainer").append(projectExperienceHtml);

            $('.tag-select').select2({
                tags: true,
                tokenSeparators: [',']
            });
            projectExperienceCount += 1;
        });

        // Function to add education fields
        $("#addEducation").click(function () {
            let educationHtml = `
            <div class="educationItem">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Degree:</label>
                            <input type="text" name="education[0][degree]" class="form-control"
                                required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Major:</label>
                            <input type="text" name="education[0][major]" class="form-control"
                                required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>University:</label>
                            <input type="text" name="education[0][university]" class="form-control"
                                required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>From:</label>
                            <input type="month" name="education[0][from]" class="form-control"
                                required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>To:</label>
                            <input type="month" name="education[0][to]" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
                `;
            $("#educationContainer").append(educationHtml);
            educationCount
        });

    });


    $(document).ready(function () {
        $('.tag-select').select2({
            tags: true,
            tokenSeparators: [','],
            width: "100%"
        });
    });



    $(document).ready(function () {
        // Capture form submission
        $('#resumeDataForm').submit(function (event) {
            event.preventDefault(); // Prevent the default form submission

            // form = $('#resumeDataForm');
            // Get all the <input type="month"> elements within the form
            // const monthInputs = $('#resumeDataForm input[type="month"]');

            // // Iterate through each input and format its value
            // monthInputs.each(function() {
            //   const rawValue = $(this).val();
            //   const date = new Date(rawValue);
            //   const formattedValue = date.toLocaleString('en-US', { month: 'long', year: 'numeric' });
            //   $(this).val(formattedValue);
            // });




            // Serialize the form data into a format suitable for a POST request
            var formData = $('#resumeDataForm').serialize();

            // Send a POST request to the server
            $.ajax({
                type: 'POST',
                url: 'profile-data',
                data: formData,
                success: function (response) {
                    // Handle the server's response if needed
                    console.log('Data sent successfully:', response);
                    window.location.href = "/profile";
                },
                error: function (error) {
                    // Handle errors if any
                    console.error('Error:', error);
                }
            });
        });
    });



    var splide = new Splide('.splide', {});
    var bar = splide.root.querySelector('.my-carousel-progress-bar');


    // Updates the bar width whenever the carousel moves:
    splide.on('mounted move', function () {
        var end = splide.Components.Controller.getEnd() + 1;
        var rate = Math.min((splide.index + 1) / end, 1);
        bar.style.width = String(100 * rate) + '%';

        window.scrollTo({
            top: 0,
            behavior: 'smooth' // You can use 'auto' for instant scrolling
        });


    });


    splide.mount();




</script>
{% endblock %}