<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AvinashMangaloreSuresh-SoftwareEngineerResume</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Calibri"> -->
    <link href='http://fonts.googleapis.com/css?family=Jolly+Lodger' rel='stylesheet' type='text/css'>

    <!-- https://fonts.googleapis.com/css?family=Calibri:400,700,400italic,700italic -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->


    <!-- <link href="bootstrap.min.css" rel="stylesheet"> -->
    <!-- <script src="jquery.min.js"></script> -->
    <!-- <script src="bootstrap.min.js"></script> -->

    <style>

        body {
            font-family: 'Calibri';
            /* font-family: MyCalibri; */
            /* font-family: monospace; */
            line-height: 1;
            font-size: 21px;
        }

        #header {
            text-align: center;
        }

        .section-heading {
            margin: 0;
            font-weight: bold;
        }

        .subsection-heading {
            margin: 0;
            font-weight: bold;
            color: #1154cc;
        }

        .date {
            text-align: right;
        }

        .subsection-heading-table {
            width: 100%;
        }


        .subsection-body-list {
            margin: 0;
        }

        .resume-name {
            margin: 0px;
        }
    </style>
</head>

<body>
    <div id="header">
        <h1 class="resume-name">{{ resumeData.name }}</h1>
        <u>
            <h5>{{ resumeData.phone_number }} | <a href="mailto:{{ resumeData.email_id }}">{{
                    resumeData.email_id }}</a> |
                <a href="{{ resumeData.linkedin_link }}">{{ resumeData.linkedin_link }}</a>
            </h5>
        </u>
        <p>
            {{ resumeData.objective }}
        </p>
    </div>
    <div id="body">
        <div class="section">
            <h5 class="section-heading">WORK EXPERIENCE</h5>
            {% for experience in resumeData.work_experience %}
            <div class="subsection">
                <div class="subsection-heading">
                    <table class="subsection-heading-table">
                        <tr>
                            <td><span>{{ experience.title }}, <span style="font-weight: normal;">{{ experience.company
                                        }}</span></span></td>
                            <td class="date"><span>{{ experience.from | format_date }} - {{ experience.to |
                                    format_date}}</span></td>
                        </tr>
                    </table>
                    <!-- <span class="col-9">
                            {{ experience.title }}, {{ experience.company }}
                        </span>
                        <div class="col-3 date">
                            {{ experience.from | format_date }} - {{ experience.to | format_date}}
                        </div> -->
                </div>
                <div class="subsection-body">
                    <ul class="subsection-body-list">
                        {% for item in experience.description %}
                        <li>
                            <span>{{ item | safe }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
        <br>
        <div class="section">
            <h5 class="section-heading">PROJECT EXPERIENCE</h5>
            {% for project in resumeData.project_experience %}
            <div class="subsection">
                <div class="subsection-heading">
                    <table class="subsection-heading-table">
                        <tr>
                            <td><span>{{ project.title }}, <span style="font-weight: normal;">{{ project.technologies |
                                        join(", ") }}</span></span></td>
                        </tr>
                    </table>
                </div>
                <div class="subsection-body">
                    <ul class="subsection-body-list">
                        {% for item in project.description %}
                        <li>
                            <span>{{ item | safe }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
        <br>
        <div class="section">
            <h5 class="section-heading">EDUCATION</h5>
            {% for education in resumeData.education %}
            <div class="subsection">
                <div class="subsection-heading">
                    <table class="subsection-heading-table">
                        <tr>
                            <td><span>{{ education.degree }}, {{ education.major }}, {{ education.university }}</span>
                            </td>
                            <td class="date"><span>{{ education.from | format_date }} - {{ education.to | format_date
                                    }}</span></td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
            </div>

            <br>
            <div class="section">
                <h5 class="section-heading">TECHNICAL SKILLS</h5>
                <div class="subsection">
                    <span class="subsection-heading">Languages: </span>
                    <span>{{ resumeData.technical_skills.languages | join(", ") }}</span>
                </div>
                <div class="subsection">
                    <span class="subsection-heading">Developer Tools: </span>
                    <span>{{resumeData.technical_skills.developer_tools | join(", ") }}</span>
                </div>
                <div class="subsection">
                    <span class="subsection-heading">Technologies/Frameworks: </span>
                    <span>{{ resumeData.technical_skills.technologies_and_frameworks | join(", ") }}</span>
                </div>

            </div>
        </div>
    </div>
</body>

</html>