{% extends "layout.html" %}
{% block title %}Profile{% endblock %}

{% block content %}


<style>
    a {
        color: #007bff
    }

    #pills-tab {
        border: 1px solid;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid;
        padding: 5px;
        border-radius: 10px;

    }

    .card {
        margin-top: 20px;
    }
</style>
<div class="container mt-5" style="width: 50%; margin: auto">
    <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="edit-tab" data-toggle="pill" href="#edit" role="tab">Edit Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="preview-tab" data-toggle="pill" href="#preview" role="tab">Preview Resume</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="edit" role="tabpanel">
            <div id="editResume">
                <form id="resumeDataForm">
                    <div class="card grid">
                        <div class="card-header">
                            <strong>
                                Personal Information
                            </strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="name">Name:</label>
                                        <input type="text" class="form-control" id="name" value="{{ resumeData.name }}"
                                            name="name" required>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="phone_number">Phone Number:</label>
                                        <input type="text" class="form-control" id="phone_number"
                                            value="{{ resumeData.phone_number }}" name="phone_number" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" class="form-control" id="email_id"
                                            value="{{ resumeData.email_id }}" name="email_id" required disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="linkedin">LinkedIn:</label>
                                        <input type="text" class="form-control" id="linkedin_link"
                                            value="{{ resumeData.linkedin_link }}" name="linkedin_link" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="objective">Objective:</label>
                                        <textarea class="form-control" id="objective" name="objective" rows="2"
                                            required>{{ resumeData.objective }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card grid">
                        <div class="card-header">
                            <strong>Work Experience</strong>
                        </div>
                        <div class="card-body">
                            <div id="workExperienceContainer">
                                {% for experience in resumeData.work_experience %}
                                <div class="workExperienceItem card px-5 py-3" id="workExperience-{{loop.index-1}}">
                                    <div class="row" style="width: 100%;">
                                        <button id="workExperience-{{loop.index-1}}--button"
                                            class="mdl-button mdl-js-button mdl-button--fab closeButton"
                                            style="margin-left: 100%">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Title:</label>
                                                <input type="text" class="form-control" value="{{ experience.title }}"
                                                    name="work_experience[{{ loop.index-1 }}][title]" required>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Company:</label>
                                                <input type="text" class="form-control" value="{{ experience.company }}"
                                                    name="work_experience[{{ loop.index-1 }}][company]" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>From:</label>
                                                <input type="month" class="form-control" value="{{ experience.from }}"
                                                    name="work_experience[{{ loop.index-1 }}][from]" required>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label>To:</label>
                                                <input type="month" value="{{ experience.to }}"
                                                    name="work_experience[{{ loop.index-1 }}][to]" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Description:</label>
                                                <textarea class="form-control" rows="5"
                                                    name="work_experience[{{ loop.index-1 }}][description]"
                                                    required>{{ experience.description|join('\n') }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col" align="center">
                                    <button id="addWorkExperience" class="mdl-button mdl-js-button mdl-button--fab">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card grid">
                        <div class="card-header">
                            <strong>Project Experience</strong>
                        </div>
                        <div class="card-body">
                            <div id="projectExperienceContainer">
                                {% for experience in resumeData.project_experience %}
                                <div class="projectExperienceItem card px-5 py-3" id="projectExperience-{{loop.index-1}}"
                                    style="padding: 10px;">
                                    <div class="row" style="width: 100%;">
                                        <button id="projectExperience-{{loop.index-1}}--button"
                                            class="mdl-button mdl-js-button mdl-button--fab closeButton"
                                            style="margin-left: 100%">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Title:</label>
                                                <input type="text" class="form-control"
                                                    name="project_experience[{{ loop.index-1 }}][title]"
                                                    value="{{ experience.title }}" required>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Technologies:</label>
                                                <!-- <input type="text" class="form-control" required> -->
                                                <select class="tag-select form-control"
                                                    name="project_experience[{{ loop.index-1 }}][technologies]"
                                                    value="{{ experience.technologies }}" multiple="multiple"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Description:</label>
                                                <textarea class="form-control"
                                                    name="project_experience[{{ loop.index-1 }}][description]" rows="5"
                                                    required>{{ experience.description|join('\n') }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col" align="center">
                                    <button id="addProjectExperience" class="mdl-button mdl-js-button mdl-button--fab">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card grid">
                        <div class="card-header">
                            <strong>Education</strong>
                        </div>
                        <div class="card-body">
                            <div id="educationContainer">
                                {% for education in resumeData.education %}
                                <div class="educationItem card px-5 py-3" id="education-{{loop.index-1}}" style="padding: 10px;">
                                    <div class="row" style="width: 100%;">
                                        <button id="education-{{loop.index-1}}--button"
                                            class="mdl-button mdl-js-button mdl-button--fab closeButton"
                                            style="margin-left: 100%">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Degree:</label>
                                                <input type="text" name="education[{{ loop.index-1 }}][degree]"
                                                    class="form-control" value="{{ education.degree }}" required>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Major:</label>
                                                <input type="text" name="education[{{ loop.index-1 }}][major]"
                                                    class="form-control" value="{{ education.major }}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>University:</label>
                                                <input type="text" name="education[{{ loop.index-1 }}][university]"
                                                    class="form-control" value="{{ education.university }}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>From:</label>
                                                <input type="month" name="education[{{ loop.index-1 }}][from]"
                                                    class="form-control" value="{{ education.from }}" required>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label>To:</label>
                                                <input type="month" name="education[{{ loop.index-1 }}][to]"
                                                    class="form-control" value="{{ education.to }}" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col" align="center">
                                    <button id="addEducation" class="mdl-button mdl-js-button mdl-button--fab">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card grid">
                        <div class="card-header">
                            <strong>
                                Technical Skills
                            </strong>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Languages</label>
                                    </div>
                                    <div class="col-8">
                                        <select class="tag-select form-control" name="technical_skills_languages[]"
                                        value="{{ resumeData.technical_skills_languages }}" multiple="multiple"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Developer Tools</label>
                                    </div>
                                    <div class="col-8">
                                        <select class="tag-select form-control" name="technical_skills_developer_tools[]"
                                        value="{{ resumeData.technical_skills_developer_tools }}" multiple="multiple"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Technologies and Frameworks</label>
                                    </div>
                                    <div class="col-8">
                                        <select class="tag-select form-control"
                                        name="technical_skills_technologies_and_frameworks[]"
                                        value="{{ resumeData.technical_skills_technologies_and_frameworks }}"
                                        multiple="multiple"></select>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="card grid">
                        <div class="card-header">
                            <strong>
                                Design
                            </strong>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <select class="form-control" name="design" value="{{ resumeData.design }}">
                                    {% for design in designs %}
                                        {% if design == selectedDesign %}
                                            <option value="{{design}}" selected>{{design}}</option>
                                        {% else %}
                                            <option value="{{design}}">{{design}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary my-3">Update</button>
                </form>
            </div>
        </div>
        <div class="tab-pane fade show" id="preview" role="tabpanel" align="center">
            <div id="previewResume">
                <div id="pdf-viewer" style="height: 800px; width: 640px; overflow: auto;"></div>
            </div>
        </div>
        </ul>
    </div>
</div>





</div>

<script>

    $("#addWorkExperience").click(function () {
        var workExperienceCount = $("#workExperienceContainer").children().length;
        let workExperienceHtml = `
            <div class="workExperienceItem card px-5 py-3" id="workExperience-${workExperienceCount}">
                <div class="row" style="width: 100%;">
                    <button id="workExperience-${workExperienceCount}--button"
                    class="mdl-button mdl-js-button mdl-button--fab closeButton" style="margin-left: 100%">
                        <i class="material-icons">close</i>
                    </button>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Title:</label>
                            <input type="text" class="form-control"
                                name="work_experience[${workExperienceCount}][title]" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Company:</label>
                            <input type="text" class="form-control"
                                name="work_experience[${workExperienceCount}][company]"
                                required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>From:</label>
                            <input type="month" class="form-control"
                                name="work_experience[${workExperienceCount}][from]" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>To:</label>
                            <input type="month"
                                name="work_experience[${workExperienceCount}][to]"
                                class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Description:</label>
                            <textarea class="form-control" rows="5"
                                name="work_experience[${workExperienceCount}][description]"
                                required></textarea>
                        </div>
                    </div>
                </div>
            </div>
                `;
        $("#workExperienceContainer").append(workExperienceHtml);
        workExperienceCount += 1;
        document.querySelectorAll('.closeButton').forEach(item => {
            item.addEventListener('click', event => {
                console.log(event.currentTarget)
                // the target could be something INSIDE the button, so we need to get the parent

                const elementId = event.currentTarget.id.split('--')[0];
                console.log(elementId);
                const element = document.getElementById(elementId);
                console.log(element);
                element.remove();
            })
        })
    });



    $("#addProjectExperience").click(function () {
        var projectExperienceCount = $("#projectExperienceContainer").children().length;
        let projectExperienceHtml = `
        <div class="projectExperienceItem card px-5 py-3" id="projectExperience-${projectExperienceCount}">
                                            <div class="row" style="width: 100%;">
                                                <button id="projectExperience-${projectExperienceCount}--button"
                                                    class="mdl-button mdl-js-button mdl-button--fab closeButton"
                                                    style="margin-left: 100%">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Title:</label>
                        <input type="text" class="form-control"
                            name="project_experience[${projectExperienceCount}][title]" required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Technologies (comma separated):</label>
                        <!-- <input type="text" class="form-control" required> -->
                        <select class="tag-select form-control"
                            name="project_experience[${projectExperienceCount}][technologies]"
                            multiple="multiple"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Description:</label>
                        <textarea class="form-control"
                            name="project_experience[${projectExperienceCount}][description]"
                            rows="5"
                            required></textarea>
                    </div>
                </div>
            </div>
        </div>
                `;



        $("#projectExperienceContainer").append(projectExperienceHtml);

        $('.tag-select').select2({
            tags: true,
            tokenSeparators: [','],
            width: 'resolve'
        });

        document.querySelectorAll('.closeButton').forEach(item => {
            item.addEventListener('click', event => {
                console.log(event.currentTarget)
                // the target could be something INSIDE the button, so we need to get the parent

                const elementId = event.currentTarget.id.split('--')[0];
                console.log(elementId);
                const element = document.getElementById(elementId);
                console.log(element);
                element.remove();
            })
        })
    });


    $("#addEducation").click(function () {
        console.log("clicked")
        var educationCount = $("#educationContainer").children().length;
        let educationHtml = `
        <div class="educationItem card px-5 py-3" id="education-${educationCount}">
            <div class="row" style="width: 100%;">
                <button id="education-${educationCount}--button"
                    class="mdl-button mdl-js-button mdl-button--fab closeButton"
                    style="margin-left: 100%">
                    <i class="material-icons">close</i>
                </button>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Degree:</label>
                        <input type="text" name="education[${educationCount}][degree]"
                            class="form-control""
                            required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Major:</label>
                        <input type="text" name="education[${educationCount}][major]"
                            class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>University:</label>
                        <input type="text"
                            name="education[${educationCount}][university]"
                            class="form-control"
                            required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>From:</label>
                        <input type="month" name="education[${educationCount}][from]"
                            class="form-control" required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>To:</label>
                        <input type="month" name="education[${educationCount}][to]"
                            class="form-control" required>
                    </div>
                </div>
            </div>
        </div>
        `;


        $("#educationContainer").append(educationHtml);

        document.querySelectorAll('.closeButton').forEach(item => {
            item.addEventListener('click', event => {
                console.log(event.currentTarget)
                // the target could be something INSIDE the button, so we need to get the parent

                const elementId = event.currentTarget.id.split('--')[0];
                console.log(elementId);
                const element = document.getElementById(elementId);
                console.log(element);
                element.remove();
            })
        })
    })




    // Add Event listener to all elements of class closeButton
    document.querySelectorAll('.closeButton').forEach(item => {
        item.addEventListener('click', event => {
            console.log(event.currentTarget)
            // the target could be something INSIDE the button, so we need to get the parent

            const elementId = event.currentTarget.id.split('--')[0];
            console.log(elementId);
            const element = document.getElementById(elementId);
            console.log(element);
            element.remove();
        })
    })


    const my_list = {{ resumeData.project_experience | tojson | safe }};
    technical_skills = {{ resumeData.technical_skills | tojson | safe }};

    for (let i = 0; i < my_list.length; i++) {
        nameAttribute = `project_experience[${i}][technologies]`;
        selectElement = $(`select[name='${nameAttribute}']`);
        options = my_list[i]["technologies"];
        options.forEach(option => {
            selectElement.append(`<option selected>${option}</option>`);
        });
        selectElement.trigger('change');
    }


    nameAttribute = `technical_skills_languages[]`;
    selectElement = $(`select[name='${nameAttribute}']`);
    options = technical_skills["languages"];
    options.forEach(option => {
        selectElement.append(`<option selected>${option}</option>`);
    });
    selectElement.trigger('change');


    nameAttribute = `technical_skills_developer_tools[]`;
    selectElement = $(`select[name='${nameAttribute}']`);
    options = technical_skills["developer_tools"];
    options.forEach(option => {
        selectElement.append(`<option selected>${option}</option>`);
    });
    selectElement.trigger('change');


    nameAttribute = `technical_skills_technologies_and_frameworks[]`;
    selectElement = $(`select[name='${nameAttribute}']`);
    options = technical_skills["technologies_and_frameworks"];
    options.forEach(option => {
        selectElement.append(`<option selected>${option}</option>`);
    });
    selectElement.trigger('change');


    // Initialize Select2 tag elements
    $(document).ready(function () {
        $('.tag-select').select2({
            tags: true,
            tokenSeparators: [','],
            width: 'resolve'
        });
    });




    // Handle form submission
    $(document).ready(function () {
        $('#resumeDataForm').submit(function (event) {
            event.preventDefault();
            var formData = $('#resumeDataForm').serialize();
            formData += '&email_id={{ resumeData.email_id }}';
            $.ajax({
                type: 'POST',
                url: 'profile-data',
                data: formData,
                success: function (response) {
                    // console.log('Data sent successfully:', response);
                    // refresh page
                    location.reload();
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        });
    });

    // document.getElementById('editToggle').addEventListener('change', function () {
    //     const formElements = document.getElementById('resumeDataForm').elements;
    //     for (let i = 0; i < formElements.length; i++) {
    //         formElements[i].disabled = !this.checked;
    //     }
    // });


    // By default make form non-editable
    // const checkbox = document.getElementById('editToggle');
    // const changeEvent = new Event('change', {
    //     bubbles: true,
    //     cancelable: true,
    // });
    // checkbox.dispatchEvent(changeEvent);

</script>



<script type="module">
    // atob() is used to convert base64 encoded PDF to binary-like data.
    // (See also https://developer.mozilla.org/en-US/docs/Web/API/WindowBase64/
    // Base64_encoding_and_decoding.)
    var pdfData = atob(
        '{{ encodedData }}');

    // Loaded via <script> tag, create shortcut to access PDF.js exports.
    var { pdfjsLib } = globalThis;

    // The workerSrc property shall be specified.
    pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://mozilla.github.io/pdf.js/build/pdf.worker.mjs';

    // Using DocumentInitParameters object to load binary data.
    var loadingTask = pdfjsLib.getDocument({ data: pdfData });
    loadingTask.promise.then(function (pdf) {
        console.log('PDF loaded');

        // Fetch the first page
        var canvasNo = 1;
        for (var i = 1; i <= 2; i++) {
            // pdfDoc.getPage(num).then(function (page) {

            // });
            console.log(i)
            var pageNumber = i;
            // console.log("outside:"+canvasId)
            pdf.getPage(pageNumber).then(function (page) {
                var canvasId = 'pdf-viewer-' + canvasNo;
                canvasNo++;

                console.log("inside:" + canvasId)

                console.log('Page loaded');
                console.log(pageNumber)

                var scale = 1;
                var viewport = page.getViewport({ scale: scale });
                console.log(canvasId)
                $('#pdf-viewer').append($('<canvas/>', { 'id': canvasId, 'style': 'border: 1px solid' }));
                var canvas = document.getElementById(canvasId);
                var context = canvas.getContext('2d');
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                // Render PDF page into canvas context
                var renderContext = {
                    canvasContext: context,
                    viewport: viewport
                };
                var renderTask = page.render(renderContext);
                renderTask.promise.then(function () {
                    console.log('Page rendered');
                });
            });
        }

    }, function (reason) {
        // PDF loading error
        console.error(reason);
    });



    function renderPage(num) {
        pdfDoc.getPage(num).then(function (page) {
            var canvasId = 'pdf-viewer-' + num;
            $('#pdf-viewer').append($('<canvas/>', { 'id': canvasId }));
            var canvas = document.getElementById(canvasId);
        });
    }

    function renderAllPages() {
        for (var i = 1; i <= pdfDoc.numPages; i++) {
            renderPage(i);
        }
    }


</script>
{% endblock %}