{% extends "layout.html" %}
{% block title %}Next Steps{% endblock %}

{% block content %}

<style>
    .card-body {
        padding: 0px;
    }

    .step-number {
        font-size: 8em;
        margin: auto;
        line-height: normal;
    }
</style>

<div style="width: 80%; margin: auto;">
    <h1>Thanks for choosing TailoRes! </h1>
    <h3>Complete the below steps for the best resume generating experience.</h3>

    <div align="center">
        <div class="card mb-3" style="width: 80%;">
            <div class="row g-0 mx-5">
                <div class="col-md-2 step-number" align="left">
                    <span>1.</span>
                </div>
                <div class="col-md-10" align="left">
                    <div class="card-body">
                        <h4 class="card-title">Pin the Extension to your browser</h5>
                            <p class="card-text">You'll be opening the extension when you're generating a new resume so pin it for ease of use.</p>
                    </div>
                </div>
            </div>
        </div>




        <div class="card mb-3" style="width: 80%;">
            <div class="row g-0 mx-5">
                <div class="col-md-10" align="right">
                    <div class="card-body">
                        <h4 class="card-title">Sign in with your Google credentials</h5>
                            <p class="card-text">Click the extension and sign in with your Google credentials.</p>
                    </div>
                </div>
                <div class="col-md-2 step-number" align="right" align="right">
                    <span class="">2.</span>
                </div>
            </div>
        </div>




        <div class="card mb-3" style="width: 80%;">
            <div class="row g-0 mx-5">
                <div class="col-md-2 step-number" align="left">
                    <span class="">3.</span>
                </div>
                <div class="col-md-10" align="left">
                    <div class="card-body">
                        <h4 class="card-title">Fill in your profile info</h5>
                            <p class="card-text">Once you login the first time, it should take you to a form to fill in your profile. Add as much data as you can and we'll
                                make sure your best skills are included and highlighted in your resume.
                            </p>
                    </div>
                </div>
            </div>
        </div>




        <div class="card mb-3" style="width: 80%;">
            <div class="row g-0 mx-5">
                <div class="col-md-10" align="right">
                    <div class="card-body">
                        <h4 class="card-title">That's pretty much it!</h5>
                            <p class="card-text">You can always edit your profile info by clicking on the extension and clicking on the "View Profile" button. 
                            </p>
                    </div>
                </div>
                <div class="col-md-2 step-number" align="right">
                    <span class="">4.</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}